{% extends "master.html" %}

{% block titulo %} Inicio {% endblock %}

{% block titulo_seccion %} Estacionamientos {% endblock %}

{% block cuerpo %}
    <section class="index">
        <div class="cuerpo">
            <div class="inicio">
                <div class="Titulo-inicio">
                    <h2>¡BIENVENIDOS AL PORTAL DE SOLICITUDES DE ESTACIONAMIENTO INACAP SUR!</h2>
                    <h3>Instrucciones</h3>
                </div>
                <div class="Lista-inicio">
                    <h3>Solicitudes: </h3><p>La solicitud es la principal parte de este proceso</p>
                        <h3>Resultados:</h3> <p>A través del apartado de resultados podras ver los futuros Ganadores del sorteo de estacionamientos INACAP</p>
                        <h3>Registros:</h3> <p>Este es el comienzo del proceso de tombola, aqui necesitarás ciertos datos esenciales para poder completar tu registro y participar por este Sorteo de estacionamientos INACAP.</p>
                    <h2>Instrucciones: </h2>
                    <ul>
                        <li>Solicitar Cupo</li>
                        <p>Solo deberás ingresar tu numero de Carnet.
                        <br><b>NOTA: Es importante recalcar que debes ser estudiante INACAP!</b></p>
                        <li>Registrarse</li>
                        <p>En el apartado de registro deberas ingresar datos más personales, datos esenciales para la participación de este Sorteo.</p>
                        <li>Ver Resultados</li>
                        <p>Una vez culminado los pasos anteriores, tendrás que esperar la fecha notificada para ver los resultados. Este apartado esta hecho para ver los resultados.</p>
                    </ul>
                </div>
            </div>
            <div class="botones-inicio">
                <button><a href="{% url 'solicitudes'%}">Solicitar Cupo</a></button>
                <button><a href="{% url 'resultados' %}">Ver Resultado</a></button>
                <button><a href="{% url 'registro'%}">Registrarse</a></button>
            </div>
        </div>
        <div class="contador">
            <div class="cont_contador">
                <h1>Disponibilidad de Cupos:</h2>
                <h3>AUTOS</h3>
                <h2>233/300</h2>
                <h3>MOTOS</h3>
                <h2>15/80</h2>
            </div>
        </div>
    </section>
{% endblock %}
